/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.qodef-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-holder article.sticky .qodef-post-title a {
  color: #999;
}

.qodef-blog-holder article.sticky .qodef-post-title:before {
  content: '\e031';
  font-family: ElegantIcons;
  margin-right: 10px;
}

.qodef-blog-holder article .qodef-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.qodef-blog-holder article .qodef-post-image img {
  display: block;
}

.qodef-blog-holder article .qodef-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.qodef-blog-holder article .qodef-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.qodef-blog-holder article .qodef-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.qodef-blog-holder article .qodef-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-holder article .qodef-post-title {
  margin: 0;
  text-transform: uppercase;
}

.qodef-blog-holder article .qodef-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.qodef-blog-holder article .qodef-post-excerpt-holder p {
  margin: 0;
}

.qodef-blog-holder article .qodef-post-excerpt:after {
  content: '...';
}

.qodef-blog-holder article .qodef-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.qodef-blog-holder article .qodef-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.qodef-blog-holder article .qodef-post-info > * a {
  color: inherit;
}

.qodef-blog-holder article .qodef-post-info-top {
  margin: 4px 0 7px;
}

.qodef-blog-holder article .qodef-post-info-top > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #1b1b1b;
  font-size: 15px;
  padding: 0 10px 0 0;
  margin: 2px 9px 0 0;
}

.qodef-blog-holder article .qodef-post-info-top > div:after {
  content: '/';
  position: absolute;
  right: 0;
  top: 0;
}

.qodef-blog-holder article .qodef-post-info-top > div:last-child {
  padding: 0;
  margin-right: 0;
}

.qodef-blog-holder article .qodef-post-info-top > div:last-child:after {
  content: '';
}

.qodef-blog-holder article .qodef-post-info-top > div a {
  color: inherit;
}

.qodef-blog-holder article .qodef-post-info-top > div a:hover {
  color: #999;
}

.qodef-blog-holder article .qodef-post-info-bottom {
  padding-top: 27px;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-social-share-holder.qodef-list li a {
  font-size: 14px;
  color: #858585;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-social-share-holder.qodef-list li a:hover {
  color: #cfcfcf;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-tags a {
  text-transform: lowercase;
  margin-left: 12px;
  padding-right: 10px;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-tags a:first-child {
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-tags a:last-child {
  padding-right: 0;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-left,
.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  width: 50%;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
  float: right;
  text-align: right;
}

.qodef-blog-holder article.format-link .qodef-post-text {
  padding: 57px 24px 52px;
  border: 1px solid #e5e5e5;
  margin-bottom: 9px;
}

.qodef-blog-holder article.format-link .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-bottom: 1px;
}

.qodef-blog-holder article.format-link .qodef-post-mark {
  position: absolute;
  top: 24px;
  right: 33px;
}

.qodef-blog-holder article.format-link .qodef-post-mark .qodef-link-mark {
  font-size: 25px;
  -webkit-transform: rotate(79deg);
  -ms-transform: rotate(79deg);
  transform: rotate(79deg);
  display: inline-block;
}

.qodef-blog-holder article.format-link .qodef-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-text {
  padding: 58px 14px 54px;
  border: 1px solid #e5e5e5;
  margin-bottom: 9px;
}

.qodef-blog-holder article.format-quote .qodef-post-text-main {
  text-align: left;
  padding-bottom: 1px;
}

.qodef-blog-holder article.format-quote .qodef-post-text-inner {
  display: table-cell;
  width: calc(100% - 102px);
}

.qodef-blog-holder article.format-quote .qodef-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 102px;
  vertical-align: middle;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-mark .qodef-quote-mark {
  font-size: 185px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  position: absolute;
  top: 11px;
  line-height: 0.3em;
}

.qodef-blog-holder article.format-quote .qodef-post-mark .qodef-quote-mark:before {
  content: '';
  padding-top: 100%;
  display: block;
}

.qodef-blog-holder article.format-quote .qodef-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.qodef-blog-holder article.format-quote .qodef-post-author {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 20px;
}

.qodef-blog-holder article.format-gallery .qodef-post-image {
  width: 100%;
}

.qodef-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.qodef-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.qodef-blog-holder article.format-audio.has-post-thumbnail .qodef-post-heading {
  position: relative;
}

.qodef-blog-holder article.format-audio.has-post-thumbnail .qodef-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.qodef-blog-holder article.format-audio .qodef-post-image {
  width: 100%;
  max-width: inherit;
}

.qodef-blog-holder article.format-audio .qodef-post-image img {
  width: 100%;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-embed, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-embed body, .qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container {
  background-color: #1b1b1b;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-replay button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-replay button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
  margin: 2px 0 0;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
  margin: 2px 10px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 0;
  background: none;
  background-color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #999;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  height: 5px;
  z-index: 9999;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(0, 0, 0, 0.5);
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -16px;
  border: 0;
  color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-handle-content {
  display: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner {
  top: 11px;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
  margin: 2px 0 0;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  background: none;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  top: 15px;
  background-color: #fff;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #999;
}

.qodef-blog-holder article.format-video .qodef-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.qodef-blog-pagination-wp {
  display: none;
}

.qodef-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 55px 0 20px;
  clear: both;
}

.qodef-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.qodef-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

.qodef-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.qodef-blog-pagination ul li a.qodef-pag-active {
  color: #999;
}

.qodef-blog-pagination ul li.qodef-pag-prev a, .qodef-blog-pagination ul li.qodef-pag-next a, .qodef-blog-pagination ul li.qodef-pag-first a, .qodef-blog-pagination ul li.qodef-pag-last a {
  font-size: 22px;
}

.qodef-blog-pagination ul li.qodef-pag-prev a span, .qodef-blog-pagination ul li.qodef-pag-next a span, .qodef-blog-pagination ul li.qodef-pag-first a span, .qodef-blog-pagination ul li.qodef-pag-last a span {
  display: block;
  line-height: inherit;
}

.qodef-blog-pagination ul li.qodef-pag-prev a span:before, .qodef-blog-pagination ul li.qodef-pag-next a span:before, .qodef-blog-pagination ul li.qodef-pag-first a span:before, .qodef-blog-pagination ul li.qodef-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-pag-standard-shortcodes .qodef-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.qodef-blog-list-holder.qodef-bl-pag-standard-shortcodes.qodef-bl-pag-standard-shortcodes-animate .qodef-blog-list {
  opacity: 0;
}

.qodef-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.qodef-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.qodef-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.qodef-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-active a {
  color: #999;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next {
  position: absolute;
  top: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a {
  font-size: 30px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -o-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a span, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a span:before, .qodef-bl-standard-pagination ul li.qodef-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev {
  left: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-prev a {
  opacity: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-next {
  right: 0;
}

.qodef-bl-standard-pagination ul li.qodef-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.qodef-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.qodef-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #1b1b1b;
  text-align: center;
}

.qodef-blog-pag-loading.qodef-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.qodef-blog-pag-loading.qodef-showing {
  display: block;
}

.qodef-blog-pag-loading > div:not(.qodef-dessau-loader) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #1b1b1b;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.qodef-blog-pag-loading .qodef-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.qodef-blog-pag-loading .qodef-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.qodef-blog-holder.qodef-blog-masonry article.qodef-post-has-media .qodef-post-heading {
  margin-bottom: 30px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-standard article {
  margin: 0 0 56px;
  padding: 0;
}

.qodef-blog-holder.qodef-blog-standard article.qodef-post-has-media .qodef-post-heading {
  margin-bottom: 28px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.qodef-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-author-description .qodef-author-title {
  text-align: left;
  font-weight: 400;
  margin: 13px 0 0;
}

.qodef-author-description .qodef-author-description-inner {
  padding: 36px 0 39px;
  min-height: 103px;
  clear: both;
}

.qodef-author-description .qodef-author-description-content {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.qodef-author-description .qodef-author-description-image {
  display: inline-block;
  vertical-align: top;
  float: left;
  padding-right: 28px;
}

.qodef-author-description .qodef-author-description-image img {
  display: block;
  width: 103px;
}

.qodef-author-description .qodef-author-description-text-holder {
  position: relative;
  padding: 11px 0 4px;
  display: inline-block;
  width: calc(100% - 132px);
  vertical-align: top;
  text-align: left;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name a {
  color: #1b1b1b;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-name a:hover {
  color: #999;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-email {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-text > p {
  margin: 11px 0 34px;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 11px;
  color: #1b1b1b;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a:last-child {
  margin: 0;
}

.qodef-author-description .qodef-author-description-text-holder .qodef-author-social-icons a:hover {
  color: #999;
}

@media only screen and (max-width: 768px) {
  .qodef-author-description .qodef-author-description-content {
    padding: 0;
  }
  .qodef-author-description .qodef-author-description-image {
    display: block;
    width: 100%;
  }
  .qodef-author-description .qodef-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.qodef-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-single-navigation .qodef-blog-single-navigation-inner {
  padding: 20px 0 30px;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-thumbnail {
  width: 31px;
  max-height: 31px;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-title {
  display: inline-block;
  margin: 2px 0 0;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-mark {
  font-size: 48px;
  line-height: inherit;
  color: inherit;
  display: inline-block;
  margin-top: 4px;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-mark:before {
  display: block;
  line-height: inherit;
}

.qodef-blog-single-navigation .qodef-blog-single-prev,
.qodef-blog-single-navigation .qodef-blog-single-next {
  color: #1b1b1b;
}

.qodef-blog-single-navigation .qodef-blog-single-prev:hover,
.qodef-blog-single-navigation .qodef-blog-single-next:hover {
  color: #999;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-prev,
.qodef-blog-single-navigation .qodef-blog-single-nav-next {
  width: auto;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-prev .qodef-blog-single-nav-thumbnail img,
.qodef-blog-single-navigation .qodef-blog-single-nav-next .qodef-blog-single-nav-thumbnail img {
  height: 31px;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-prev {
  float: left;
}

@media only screen and (max-width: 680px) {
  .qodef-blog-single-navigation .qodef-blog-single-nav-prev:first-child {
    margin-bottom: 20px;
  }
}

.qodef-blog-single-navigation .qodef-blog-single-nav-prev .qodef-blog-single-nav-thumbnail {
  float: right;
  padding-left: 20px;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-prev .qodef-blog-single-nav-mark {
  float: left;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-next {
  float: right;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-next .qodef-blog-single-nav-mark {
  float: right;
}

.qodef-blog-single-navigation .qodef-blog-single-nav-next .qodef-blog-single-nav-thumbnail {
  float: left;
  padding-right: 20px;
}

.qodef-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > a,
.qodef-single-links-pages .qodef-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 5px 0;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > span {
  color: #999;
}

.qodef-single-links-pages .qodef-single-links-pages-inner > a:hover {
  color: #1b1b1b;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.qodef-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-related-posts-holder .qodef-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.qodef-related-posts-holder .qodef-related-posts-title {
  margin: 0 0 40px;
}

.qodef-related-posts-holder .qodef-related-posts-title > * {
  margin: 0;
}

.qodef-related-posts-holder .qodef-related-posts-inner {
  margin: 0 -15px;
}

.qodef-related-posts-holder .qodef-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-content-has-sidebar .qodef-related-posts-holder .qodef-related-post {
  widtH: 33.33333333333333%;
}

.touch .qodef-related-posts-holder .qodef-related-post {
  cursor: pointer;
}

.qodef-related-posts-holder .qodef-related-post:hover .qodef-related-post-image a:after {
  opacity: 1;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image a {
  position: relative;
  display: block;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(27, 27, 27, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.qodef-related-posts-holder .qodef-related-post .qodef-related-post-image img {
  display: block;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-title {
  margin: 19px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-title:first-child {
  margin-top: 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:last-child {
  padding: 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div:last-child:after {
  display: none;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div.qodef-post-info-author .qodef-post-info-author-text {
  margin: 0 3px 0 0;
}

.qodef-related-posts-holder .qodef-related-post .qodef-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.qodef-blog-holder.qodef-blog-single article {
  margin: 0 0 30px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote, .qodef-blog-holder.qodef-blog-single article.format-link {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 27px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-text, .qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-text {
  margin-bottom: 20px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-info-top > div, .qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-info-top > div {
  margin-top: 0;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-text {
  padding: 58px 24px 54px;
}

.qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-text {
  padding: 57px 38px 52px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-heading {
  margin-bottom: 26px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-text {
  padding: 0 0 21px;
  border-bottom: 1px solid #e1e1e1;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-top {
  margin-bottom: 13px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-top > div {
  margin-top: 8px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom {
  padding-top: 20px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-left,
.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right {
  width: 100%;
  text-align: center;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-left .qodef-blog-share {
  margin: 18px 0 32px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info-bottom .qodef-post-info-bottom-right .qodef-tags-holder {
  margin: 39px 0 32px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.qodef-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.qodef-blog-list-holder .qodef-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.qodef-blog-list-holder .qodef-bl-item {
  padding: 0;
  margin: 0;
}

.qodef-blog-list-holder .qodef-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-list-holder .qodef-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-list-holder .qodef-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.qodef-blog-list-holder .qodef-post-image a {
  display: block;
}

.qodef-blog-list-holder .qodef-post-image img {
  display: block;
}

.qodef-blog-list-holder .qodef-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 5px 0 8px;
  clear: both;
}

.qodef-blog-list-holder .qodef-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.2;
  float: left;
  padding: 0 10px 5px 0;
  margin-right: 12px;
}

.qodef-blog-list-holder .qodef-bli-info > div:after {
  content: '/';
  position: absolute;
  right: 0;
  top: 0;
}

.qodef-blog-list-holder .qodef-bli-info > div:last-child {
  padding: 0 0 5px;
  margin-right: 0;
}

.qodef-blog-list-holder .qodef-bli-info > div:last-child:after {
  content: '';
}

.qodef-blog-list-holder .qodef-bli-info > div a {
  color: #1b1b1b;
}

.qodef-blog-list-holder .qodef-bli-info > div a:hover {
  color: #999;
}

.qodef-blog-list-holder .qodef-post-title {
  margin: 0;
  text-transform: uppercase;
}

.qodef-blog-list-holder .qodef-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 2px 0 0;
}

.qodef-blog-list-holder .qodef-post-excerpt p {
  margin: 0;
}

.qodef-blog-list-holder .qodef-post-excerpt:after {
  content: '...';
}

.qodef-blog-list-holder .qodef-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 35px 0 0;
}

.qodef-blog-list-holder .qodef-post-read-more-button .qodef-btn.qodef-btn-icon > span:not(.qodef-btn-text) {
  font-size: 1em;
  margin-left: 6px;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-boxed .qodef-bli-content {
  padding: 40px 30px;
  background-color: #f6f6f6;
}

.qodef-blog-list-holder.qodef-bl-boxed .qodef-post-image {
  margin: 0;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-masonry {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  overflow: visible !important;
}

.qodef-blog-list-holder.qodef-bl-masonry .qodef-bl-item {
  z-index: 100;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date {
  display: block;
  margin: 0 0 12px;
  line-height: 1;
}

.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date a {
  font-size: 14px;
  color: #1b1b1b;
}

.qodef-blog-list-holder.qodef-bl-minimal .qodef-post-info-date a:hover {
  color: #999;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.qodef-blog-list-holder.qodef-bl-simple .qodef-post-image {
  display: table-cell;
  vertical-align: middle;
  width: 79px;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-post-image a {
  position: relative;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding-left: 22px;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date {
  display: block;
  margin: 7px 0 0;
  line-height: 1;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date a {
  font-size: 14px;
  color: #1b1b1b;
}

.qodef-blog-list-holder.qodef-bl-simple .qodef-bli-content .qodef-post-info-date a:hover {
  color: #999;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.qodef-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.qodef-bl-loading.qodef-showing {
  display: block;
}

.qodef-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #1b1b1b;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.qodef-bl-loading .qodef-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.qodef-bl-loading .qodef-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.qodef-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item {
  text-align: center;
}

.touch .qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item {
  cursor: pointer;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-blog-slider-item:hover .qodef-item-text-wrapper {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-title {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-read-more-button a {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-slider .qodef-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-item-image a:hover:after {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-post-title {
  margin: 29px 0 0;
}

.qodef-blog-slider-holder.qodef-bs-carousel .qodef-post-read-more-button {
  margin: 15px 0 0;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .active.center .qodef-item-text-wrapper {
  opacity: 1;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-blog-slider-item {
  text-align: center;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-title {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-read-more-button a {
  color: #fff;
}

.qodef-blog-slider-holder.qodef-bs-carousel-centered .qodef-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.qodef-blog-slider-holder .qodef-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.qodef-blog-slider-holder .qodef-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-blog-slider-holder .qodef-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(153, 153, 153, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -o-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.qodef-blog-slider-holder .qodef-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.qodef-blog-slider-holder .qodef-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.qodef-blog-slider-holder .qodef-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.qodef-blog-slider-holder .qodef-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.qodef-blog-slider-holder .qodef-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.qodef-blog-slider-holder .qodef-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.qodef-blog-slider-holder .qodef-item-info-section > div:last-child:after {
  content: '';
}

.qodef-blog-slider-holder .qodef-post-title {
  margin: 0;
}

.qodef-blog-slider-holder .qodef-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.qodef-blog-slider-holder .qodef-bli-excerpt p {
  margin: 0;
}

.qodef-blog-slider-holder .qodef-post-read-more-button {
  margin: 5px 0 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
